# Python VENV
.venv
__pycache__

# Private config
.env

# Imgs
*.png
*.svg
!report/extra/img/*.*
!report/thesis/figures/*.*
!report/extended-abstract/figures/*.*

# Dev Env
.idea

# Extra
sketches
.DS_Store

# Logs
*.log
!minor_embedding/outputs/same_pos.log
!minor_embedding/outputs/same_shape.log
!execution.log
!complete_performance_test.log
!complete_dataset.log
!subqubo.log

# LaTeX files
*.aux
*.fdb_latexmk
*.fls
*.out
*.pdf
*.gz
*.bbl
*.bcf
*.blg
*.lof
*.lot
*.xml
*.toc
*.nav
*.snm
*.abs
*.xmpdata

# Generated data
data
remote

# LP files
*.lp